.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  text-align: center;
}

.App-header {
  padding: 5% 5% 5% 30%;
  background-color: #282c34;
  /*min-height: 100vh;*/
  /* display: flex; */
  flex-direction: column;
  text-align: center;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

h5{
  color: #fff;
}
